@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow_Login {
  border-radius: 67px;
  background: linear-gradient(145deg, #1a3a5a, #1f446b);
  box-shadow: 12px 12px 24px #1b3c5e, -12px -12px 24px #1f446a;
}
